.header {
	width: 100%;
	height: 70px;
	top: 0;
	display: inline-block;
	float: left;
	background-color: #fff;
}

ul {
	list-style-type: none;
}
p {
	font-family: 'Titillium Web', sans-serif;
}

.navmenu {
    margin:0;
    padding:0;
    position: absolute;
    text-align: center;
    margin-left: 28%;
}

.navmenu li{
	font-family: 'Titillium Web', sans-serif;
    display: inline;
    margin-top: -20px;
}

.navmenu a{
    display: inline-block;
    text-decoration: none;
    padding:20px;
}


.navsocial {
	float: right;
	margin-right: 50px;
	display: inline;
	color: #929292
}

.navsocial li {
	display: inline;
	text-decoration: none;
}


.page1carousel {
	background-image: url(..//img/background.jpg);
	margin-top: 20px;
	background-size: cover;

}

.title {
	font-family: 'Teko', sans-serif;
	text-align: center;
	width: 600px;
	margin-left: 25%;
	text-transform: uppercase;
	font-size: 30pt;
	font-weight: lighter;
	color: #fff;
}

.titlesub {
	color: #d9d7d7;
	font-size: 16pt;

}








